Repository kcp-dev/kcp, pull requests merged in 2022-05, with the labels that each got.

#877 Add APIExport controller
  config/crds/apis.kcp.dev_apibindings.yaml
  config/crds/apis.kcp.dev_apiexports.yaml
  config/crds/bootstrap.go
  go.mod
  go.sum
  pkg/apis/apis/v1alpha1/types.go
  pkg/apis/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/client/listers/apiresource/v1alpha1/apiresourceimport.go
  pkg/client/listers/apiresource/v1alpha1/negotiatedapiresource.go
  pkg/client/listers/apis/v1alpha1/apibinding.go
  pkg/client/listers/apis/v1alpha1/apiexport.go
  pkg/client/listers/apis/v1alpha1/apiresourceschema.go
  pkg/client/listers/scheduling/v1alpha1/location.go
  pkg/client/listers/tenancy/v1alpha1/clusterworkspace.go
  pkg/client/listers/tenancy/v1alpha1/clusterworkspaceshard.go
  pkg/client/listers/tenancy/v1alpha1/clusterworkspacetype.go
  pkg/client/listers/tenancy/v1beta1/workspace.go
  pkg/client/listers/workload/v1alpha1/workloadcluster.go
  pkg/reconciler/apis/apibinding/apibinding_controller.go
  pkg/reconciler/apis/apibinding/apibinding_indexes.go
  pkg/reconciler/apis/apibinding/apibinding_indexes_test.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile_test.go
  pkg/reconciler/apis/apiexport/apiexport_controller.go
  pkg/reconciler/apis/apiexport/apiexport_controller_test.go
  pkg/reconciler/apis/apiexport/apiexport_reconcile.go
  pkg/reconciler/workload/namespace/namespace_controller.go
  pkg/reconciler/workload/namespace/namespace_reconcile.go
  pkg/server/apiexport_context.go
  pkg/server/apiextensions.go
  pkg/server/controllers.go
  pkg/server/handler.go
  pkg/server/handler_test.go
  pkg/server/server.go
  pkg/syncer/syncer.go
  pkg/virtual/framework/wrappers/rbac/cluster_filtering.go
  pkg/virtual/framework/wrappers/rbac/merging.go
  pkg/virtual/framework/wrappers/tenancy/cluster_filtering.go
  test/e2e/apibinding/apibinding_test.go
  test/e2e/conformance/cross_logical_cluster_list_test.go
  test/e2e/conformance/othersheriffs/bootstrap.go
  test/e2e/conformance/othersheriffs/wildwest.dev_sheriffs.yaml
  test/e2e/conformance/sheriffs/bootstrap.go
  test/e2e/conformance/sheriffs/wildwest.dev_sheriffs.yaml
  test/e2e/fixtures/kube/bootstrap.go
  test/e2e/fixtures/wildwest/bootstrap.go
  test/e2e/fixtures/wildwest/client/listers/wildwest/v1alpha1/cowboy.go
  test/e2e/reconciler/apiexport/apiexport_controller_test.go
  test/e2e/reconciler/namespace/controller_test.go
Labels: area/apiexports, kind/breaking-change

#952 e2e: create syncer log artifacts when running in kind
  test/e2e/framework/fixture.go
  test/e2e/framework/util.go
Labels: area/transparent-multi-cluster, area/repo-health

#901 Adding admission plugin to validate CRDs
  pkg/admission/plugins.go
  pkg/admission/reservedcrdannotations/admission.go
  pkg/admission/reservedcrdannotations/admission_test.go
  test/e2e/customresourcedefinition/customresourcedefinition_test.go
  test/e2e/customresourcedefinition/wildwest.dev_cowboys.yaml
Labels: severity/timebomb, area/security, area/apiexports

#942 Advanced scheduling
  cmd/syncer/cmd/syncer.go
  cmd/syncer/options/options.go
  config/crds/workload.kcp.dev_workloadclusters.yaml
  pkg/apis/workload/v1alpha1/helpers.go
  pkg/apis/workload/v1alpha1/types.go
  pkg/apis/workload/v1alpha1/workloadcluster_types.go
  pkg/localenvoy/controllers/ingress/envoyingress.go
  pkg/reconciler/workload/deploymentsplitter/deploymentsplitter_reconcile.go
  pkg/reconciler/workload/ingresssplitter/ingresssplitter_reconcile.go
  pkg/reconciler/workload/namespace/conditions.go
  pkg/reconciler/workload/namespace/conditions_test.go
  pkg/reconciler/workload/namespace/namespace_reconcile.go
  pkg/reconciler/workload/namespace/scheduler.go
  pkg/reconciler/workload/namespace/scheduler_test.go
  pkg/syncer/helpers.go
  pkg/syncer/specsyncer.go
  pkg/syncer/specsyncer_test.go
  pkg/syncer/statussyncer.go
  pkg/syncer/statussyncer_test.go
  pkg/syncer/syncer.go
  pkg/syncer/syncer_process_test.go
  test/e2e/reconciler/cluster/controller_test.go
  test/e2e/reconciler/namespace/controller_test.go
Labels: area/transparent-multi-cluster
