Repository kcp-dev/kcp, pull requests merged in 2022-03, with the labels that each got.

#629 clusterworkspace: admission: fix initializers check
  pkg/admission/clusterworkspace/admission.go
  pkg/admission/clusterworkspace/admission_test.go
Labels: bug

#640 virtual-workspaces: wire into kcp server and remove topology leaking to cli plugin
  cmd/kcp/kcp.go
  cmd/virtual-workspaces/command/cmd.go
  cmd/virtual-workspaces/main.go
  cmd/virtual-workspaces/options/options.go
  pkg/cliplugins/workspace/cmd/cmd.go
  pkg/cliplugins/workspace/plugin/helpers.go
  pkg/cliplugins/workspace/plugin/kubeconfig.go
  pkg/cliplugins/workspace/plugin/options.go
  pkg/server/options/flags.go
  pkg/server/options/options.go
  pkg/server/options/virtual.go
  pkg/server/server.go
  pkg/server/virtual.go
  pkg/virtual/framework/architecture.md
  pkg/virtual/framework/cmd/cmd.go
  pkg/virtual/framework/rootapiserver/root_apiserver.go
  pkg/virtual/workspaces/builder/build.go
  pkg/virtual/workspaces/cmd/cmd.go
  pkg/virtual/workspaces/options/options.go
  pkg/virtual/workspaces/registry/rest.go
  pkg/virtual/workspaces/registry/rest_test.go
  test/e2e/virtual/framework/compositecmd/cmd.go
  test/e2e/virtual/helpers/helpers.go
  test/e2e/virtual/workspaces/virtual_workspace_test.go
Labels: severity/timebomb

#715 kcp-front-proxy: implement options pattern
  cmd/kcp-front-proxy/main.go
  cmd/kcp-front-proxy/options/options.go
  hack/admin-ext.cnf
  hack/client-ext.cnf
  hack/gen-certs.sh
  hack/server-ext.cnf
  pkg/proxy/mapping.go
  pkg/proxy/options/options.go
  pkg/proxy/server.go
Labels: enhancement, area/sharding

#718 virtual: authorize clusterworkspacetype use
  pkg/admission/apibinding/apibinding_admission.go
  pkg/admission/apibinding/apibinding_admission_test.go
  pkg/admission/clusterworkspacetypeexists/admission.go
  pkg/admission/clusterworkspacetypeexists/admission_test.go
  pkg/authorization/delegated/authorizer.go
  pkg/virtual/workspaces/builder/build.go
  pkg/virtual/workspaces/options/options.go
  pkg/virtual/workspaces/registry/rest.go
  pkg/virtual/workspaces/registry/rest_test.go
  test/e2e/virtual/workspaces/virtual_workspace_test.go
Labels: bug, area/workspaces, area/authorization

#781 1. authorization: don't leak authz information in authz errors
  pkg/authorization/workspace_content_authorizer.go
  pkg/reconciler/workload/ingresssplitter/ingresssplitter_controller.go
  pkg/reconciler/workload/ingresssplitter/ingresssplitter_reconcile.go
Labels: severity/timebomb, area/authorization

#778 5. kubectl-kcp: get rid of workspace duality and implement logical cluster path semantics
  cmd/kubectl-workspaces/main.go
  cmd/kubectl-ws/main.go
  config/crds/tenancy.kcp.dev_clusterworkspaces.yaml
  config/crds/tenancy.kcp.dev_workspaces.yaml
  config/system-crds/bootstrap.go
  pkg/apis/tenancy/v1alpha1/types.go
  pkg/apis/tenancy/v1beta1/types.go
  pkg/cliplugins/workspace/cmd/cmd.go
  pkg/cliplugins/workspace/plugin/helpers.go
  pkg/cliplugins/workspace/plugin/helpers_test.go
  pkg/cliplugins/workspace/plugin/kubeconfig.go
  pkg/cliplugins/workspace/plugin/kubeconfig_test.go
  pkg/cliplugins/workspace/plugin/options.go
  pkg/server/apiextensions.go
  pkg/server/handler.go
  pkg/server/server.go
  pkg/virtual/workspaces/printers/printer.go
Labels: enhancement, area/logical-cluster, severity/experience-blocker
