Repository kcp-dev/kcp, pull requests merged in 2024-08, with the labels that each got.

#3149 :seedling: Delete OWNERS files to let current maintainers handle all packages
  .github/workflows/OWNERS
  cmd/OWNERS
  config/OWNERS
  contrib/OWNERS
  hack/OWNERS
  pkg/admission/apiexport/OWNERS
  pkg/admission/crdnooverlappinggvr/OWNERS
  pkg/admission/mutatingwebhook/OWNERS
  pkg/admission/namespacelifecycle/OWNERS
  pkg/admission/permissionclaims/OWNERS
  pkg/admission/reservedcrdannotations/OWNERS
  pkg/admission/reservednames/OWNERS
  pkg/admission/validatingwebhook/OWNERS
  pkg/crdpuller/OWNERS
  pkg/features/OWNERS
  pkg/indexers/OWNERS
  pkg/proxy/OWNERS
  pkg/schemacompat/OWNERS
  pkg/virtual/OWNERS
  sdk/apis/tenancy/OWNERS
  test/OWNERS
Labels: approved, lgtm, kind/api-change, size/M, dco-signoff: yes, release-note-none

#3147 🐛 Bring back `v1alpha1` versions of validating admission policy resources
  config/crds/admissionregistration.k8s.io_validatingadmissionpolicies.yaml
  config/crds/admissionregistration.k8s.io_validatingadmissionpolicybindings.yaml
Labels: approved, lgtm, kind/api-change, size/XL, dco-signoff: yes, release-note-none

#3150 :sparkles: Update to Kubernetes 1.30.3
  cli/go.mod
  cli/go.sum
  docs/generators/cli-doc/go.mod
  docs/generators/cli-doc/go.sum
  go.mod
  go.sum
  pkg/admission/apiresourceschema/validation.go
  sdk/go.mod
  sdk/go.sum
Labels: approved, lgtm, kind/api-change, size/L, release-note, dco-signoff: yes

#3144 :seedling: Allow launching components from (sharded-)test-server with delve
  .gitignore
  cmd/sharded-test-server/cache.go
  cmd/sharded-test-server/frontproxy.go
  cmd/sharded-test-server/virtual.go
  cmd/test-server/kcp/shard.go
  test/e2e/framework/kcp.go
Labels: approved, lgtm, size/M, dco-signoff: yes, release-note-none

#3148 :seedling: Remove `cmd/kcp-core` binary
  cmd/kcp-core/help.go
  cmd/kcp-core/kcpcore.go
  cmd/kcp-core/options/options.go
  cmd/kcp/options/generic.go
  cmd/kcp/options/options.go
Labels: approved, lgtm, size/L, release-note, dco-signoff: yes

#3151 :seedling: Fixed typos across the repository
  FAQ.md
  code-of-conduct.md
  contrib/demos-unmaintained/demo/prototype3-script/apibinding/cert-manager.yaml
  docs/content/concepts/authorization.md
  docs/content/concepts/components/sharding.md
  docs/content/concepts/workspaces.md
  hack/build-image.sh
  pkg/admission/logicalcluster/admission.go
  pkg/admission/logicalcluster/admission_test.go
  pkg/proxy/config.go
  pkg/reconciler/apis/crdcleanup/crdcleanup_controller_test.go
  pkg/reconciler/apis/extraannotationsync/apibindingannotation_controller.go
  pkg/reconciler/apis/extraannotationsync/apibindingannotation_controller_test.go
  pkg/reconciler/core/logicalclusterdeletion/logicalcluster_deletion_controller.go
  pkg/server/config.go
  pkg/server/server.go
  test/e2e/cache/cache_server_test.go
  test/e2e/virtual/apiexport/virtualworkspace_test.go
Labels: approved, lgtm, ok-to-test, kind/api-change, size/M, dco-signoff: yes, release-note-none

#3153 :bug: Fix APIExport SSA apply configuration client
  pkg/openapi/zz_generated.openapi.go
  sdk/apis/apis/v1alpha1/types_apiexport.go
  sdk/client/applyconfiguration/apis/v1alpha1/acceptablepermissionclaim.go
  sdk/client/applyconfiguration/apis/v1alpha1/permissionclaim.go
Labels: approved, lgtm, size/S, kind/api-change, release-note, dco-signoff: yes

#3154 :sparkles: add kubectl-create-workspace command supported with latest kubectl
  .goreleaser.yaml
  FAQ.md
  Makefile
  cli/cmd/kubectl-create-workspace/main.go
  cli/cmd/kubectl-ws/main.go
  cli/pkg/workspace/cmd/cmd.go
  contrib/kcp.code-workspace
  docs/content/setup/kubectl-plugin.md
Labels: approved, lgtm, size/L, release-note, dco-signoff: yes

#3152 :sparkles: Add inactive annotation to logicalcluster
  pkg/server/config.go
  pkg/server/filters/filters.go
Labels: approved, lgtm, ok-to-test, size/M, release-note, dco-signoff: yes

#3158 ✨ Allow setting root directory to empty string to disable creation
  cmd/kcp/options/generic.go
  pkg/server/options/controllers.go
Labels: approved, lgtm, size/M, release-note, dco-signoff: yes
