Repository kcp-dev/kcp, pull requests merged in 2024-11, with the labels that each got.

#3196 :bug: Terminate kcp process if controller installation fails
  pkg/server/server.go
Labels: approved, lgtm, size/XS, release-note, dco-signoff: yes

#3197 :book: Update Kubermatic adopter entry
  ADOPTERS.md
Labels: approved, lgtm, size/XS, dco-signoff: yes, release-note-none

#3183 :sparkles: Add workspace phase update logic
  config/crds/core.kcp.io_logicalclusters.yaml
  config/crds/tenancy.kcp.io_workspaces.yaml
  config/root-phase0/apiexport-tenancy.kcp.io.yaml
  config/root-phase0/apiresourceschema-logicalclusters.core.kcp.io.yaml
  config/root-phase0/apiresourceschema-workspaces.tenancy.kcp.io.yaml
  pkg/index/index.go
  pkg/proxy/handler.go
  pkg/proxy/index/index_controller.go
  pkg/proxy/mapping.go
  pkg/reconciler/tenancy/workspace/README.md
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase_test.go
  pkg/reconciler/tenancy/workspacemounts/workspacemounts_reconcile_updater.go
  pkg/server/localproxy.go
  sdk/apis/core/v1alpha1/logicalcluster_types.go
  sdk/apis/tenancy/v1alpha1/types_mounts.go
  test/e2e/mounts/apiresourceschema_kubecluster.yaml
  test/e2e/mounts/kubecluster_mounts.yaml
  test/e2e/mounts/mounts_machinery_test.go
Labels: approved, lgtm, kind/api-change, size/XL, release-note, dco-signoff: yes

#3200 :seedling: Use Go 1.22.9
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
Labels: approved, lgtm, size/S, release-note, dco-signoff: yes
