Repository kcp-dev/kcp, pull requests merged in 2024-10, with the labels that each got.

#3175 🌱 go 1.22.7
  .github/workflows/docs-gen-and-push.yaml
  .github/workflows/goreleaser.yml
  .prow.yaml
  Dockerfile
Labels: approved, lgtm, ok-to-test, size/S, dco-signoff: yes, release-note-none

#3176 :seedling: Fix bad smells
  pkg/virtual/framework/forwardingregistry/rest_test.go
  test/e2e/fixtures/webhook/webhook.go
Labels: approved, lgtm, ok-to-test, size/XS, dco-signoff: yes, release-note-none

#3177 :seedling: Nit fix go mod version for 'go list'
  go.mod
Labels: approved, lgtm, size/XS, dco-signoff: yes, release-note-none

#3178 :seedling: Remove redundand imports
  pkg/metadata/dynamic.go
  pkg/proxy/config.go
  pkg/reconciler/tenancy/replicateclusterrolebinding/replicateclusterrolebinding_controller.go
  pkg/reconciler/tenancy/workspacemounts/workspacemounts_controller.go
  pkg/virtual/apiexport/authorizer/maximal_permission_policy_test.go
  sdk/apis/core/install/install.go
Labels: approved, lgtm, ok-to-test, size/S, dco-signoff: yes, release-note-none

#3180 :book: docs: update kubectl version output in quickstart
  docs/content/setup/quickstart.md
Labels: approved, lgtm, ok-to-test, size/XS, dco-signoff: yes, release-note-none

#3179 :bug: Fix probable bug
  pkg/reconciler/topology/partitionset/partitionset_controller_test.go
  pkg/reconciler/topology/partitionset/partitionset_reconcile.go
  sdk/apis/topology/v1alpha1/types_partitionset.go
  sdk/client/applyconfiguration/topology/v1alpha1/partitionsetstatus.go
  test/e2e/reconciler/partitionset/partitionset_test.go
Labels: approved, lgtm, ok-to-test, size/S, kind/api-change, dco-signoff: yes, release-note-none

#3184 :seedling: Remove redundant type conversion
  pkg/logging/constants.go
  pkg/proxy/options/authentication.go
  pkg/server/filters/filters.go
  pkg/virtual/apiexport/authorizer/content_test.go
  pkg/virtual/initializingworkspaces/builder/build.go
Labels: approved, lgtm, ok-to-test, size/S, dco-signoff: yes, release-note-none

#3155 :sparkles: Add original user/group as extra to the impersonating client used by virtual workspace
  pkg/virtual/apiexport/builder/build.go
Labels: approved, lgtm, ok-to-test, size/S, release-note, dco-signoff: yes

#3186 :seedling: Rename variables
  cmd/compat/main.go
  pkg/reconciler/tenancy/workspace/workspace_reconcile_phase.go
Labels: approved, lgtm, ok-to-test, size/S, dco-signoff: yes, release-note-none

#3187 :bug: Fix probable bug: imported package name as name identifier
  cli/cmd/kubectl-kcp/main.go
  cmd/sharded-test-server/main.go
  cmd/sharded-test-server/third_party/library-go/crypto/crypto.go
  pkg/crdpuller/discovery.go
  pkg/index/index.go
  pkg/informer/informer.go
  pkg/reconciler/apis/apibinding/apibinding_reconcile_test.go
  pkg/reconciler/cache/replication/replication_reconcile_unstructured.go
  pkg/reconciler/topology/partitionset/partitionset_reconcile.go
  pkg/server/handler_test.go
  pkg/server/localproxy.go
  pkg/server/openapiv3/servicecache.go
  pkg/virtual/apiexport/schemas/builtin/builtin.go
  pkg/virtual/framework/dynamic/apiserver/handler_test.go
  pkg/virtual/framework/fixedgvs/register.go
  pkg/virtual/framework/internalapis/import_test.go
  pkg/virtual/initializingworkspaces/builder/build.go
  pkg/virtual/initializingworkspaces/builder/forwarding.go
  sdk/cmd/apigen/main.go
  test/e2e/cache/cache_server_test.go
  test/e2e/fixtures/apifixtures/sheriffs.go
  test/e2e/framework/kcp.go
  test/e2e/reconciler/cache/replication_test.go
Labels: approved, lgtm, ok-to-test, kind/api-change, size/L, dco-signoff: yes, release-note-none

#3188 :bug: Fix regression when generating deep copy
  hack/update-codegen-clients.sh
Labels: approved, lgtm, size/S, release-note, dco-signoff: yes

#3192 :sparkles: Update ADOPTERS.md
  ADOPTERS.md
Labels: approved, lgtm, size/XS, dco-signoff: yes, release-note-none
