Repository kcp-dev/kcp, pull requests merged in 2025-10, with the labels that each got.

#3617 don't assume sed revision based on OS
  hack/gen-patch-defaultrestmapper.sh
Labels: kind/bug, approved, lgtm, size/XS, dco-signoff: yes, release-note-none

#3618 add kcp and crossplane talk to references
  README.md
Labels: approved, lgtm, size/XS, kind/documentation, dco-signoff: yes, release-note-none

#3596 fix bug when running ws command with kubeconfig flags
  cli/pkg/base/options.go
Labels: kind/bug, approved, lgtm, ok-to-test, size/XS, dco-signoff: yes, release-note-none, area/cli

#3530 Add `system:cluster:<logical-cluster>` group to effective users to enhance cross-workspace authz
  docs/content/concepts/authorization/authorizers.md
  test/e2e/apibinding/cross_workspace_auth_test.go
  test/e2e/authorizer/scopes_test.go
  test/e2e/fixtures/authfixtures/serviceAccount.go
Labels: kind/feature, approved, lgtm, kind/api-change, size/XL, release-note, dco-signoff: yes
